    <li>
      <p>
        id: {{data.id}}<br />
        name: {{data.name}}<br />
        username: {{data.username}}<br />
        email: {{data.email}}<br />
        address: <br />
          street: {{data.address.street}}<br />
          suite: {{data.address.suite}}<br />
          city: {{data.address.city}}<br />
          zipcode: {{data.address.zipcode}}<br />
          geo:<br />
            lat: {{data.address.geo.lat}}<br />
            lng: {{data.address.geo.lng}}<br />
        phone: {{data.phone}}<br />
        website: {{data.website}}<br />
        company: <br />
        name: {{data.company.name}}<br />
        catchPhrase: {{data.company.catchPhrase}}<br />
        bs: {{data.company.bs}}<br />
      </p>
    </li>
