<!-- <form [formGroup]="profileDetail" (ngSubmit)="onSubmit()">
    <label>
        FirstName:
        <input type="text"
        [formControl]="fName" required>
    </label>
    <label>
        LastName:
        <input type="text"
        [formControl]="lName">
    </label>
    <button (click)="onSubmit()">
        Submit
    </button>
</form>
<h1><b>Values</b></h1>
<p>
    FirstName: {{fName.value}}
    LastName: {{lName.value}}
</p> -->

<h2>Form</h2>
<div>
    <label>FirstName:
        <input type="text" />
    </label>
    <label>LastName:
      <input type="text" />
    </label>
</div>